// ==============================================
// TIMELINE
// ==============================================

.timeline-wrapper {

	// Remove bullets from all lists
	li {
		list-style: none;
	}

}

.content-wrapper {
	padding: 20px;
	display: block;
}

.content {

	border-bottom: 4px solid $creamFoam;

	.header {
		@extend %light;
		font-size: 12px;
	}

	.author {

	}

	.title {
		@extend %bold;
		font-size: 16px;
		margin: 5px 0 10px;
		color: $black;
	}

	.thumbnail {
		width: 100%;
		height: 50px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 10px 0;
		border-radius: 6px;
	}

	.body {

		p {
			@extend %light;
			font-size: 14px;
		}
	}

	.to-post {
		@extend %bold;
		font-size: 12px;
		margin: 5px 0 10px;
		color: $black;
	}

}

.comment {
	.body {
		p {
			padding-left: 20px;
			border-left: 4px solid $creamFoam;
		}
	}
}