// ==============================================
// RESET
// ==============================================

* {
	padding: 0;
	margin: 0;
	font-size: 100%;
	line-height: 1;
	border: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

h2, h3, h4 {
	font-weight: normal;
}
