/*========================= Hero-1 =========================*/

.hero-one {
    .hero {
        &-content {
            position: relative;
            @include media(992) {
                padding: rem(210) 0 rem(360);
            }
            @include mediaMax(991) {
                margin: 0 auto;
                text-align: center;
            }
        }
        .hero-media {
            text-align: center;
            max-width: 100%;
            @include media(992) {
                position: absolute;
                bottom: 85px;
                right: -93px;
                z-index: -1;
                text-align: right;
                width: 590px;
            }
        }
    }
}