/*-------------- Hero Text dark--------------*/

.hero-text-dark {
    .hero__title {
        color: $color-black;
    }
    .hero__caption {
        color: $color-black;
    }
    .watch-video {
        &__text {
            color: $color-gray;
            &--big {
                color: $color-black;
            }
        }
    }
}
