.mobile-container {
	width: 100%;
}
.mobile {
	margin: 0 auto;
	display: block;
}

.section-title {
	h3 {
		margin-top: 40px;
		font-size: 1.8rem;
	}
}

.testimonial-two {
	margin-top: 60px;
}

.feature__icon {
	height: 50px;
}

.features-one .feature {
	margin-bottom: 50px;
}