.image-container {
	width: 100%;
}
.image {
	margin: 0 auto;
	display: block;
}

.mobile {
	width: 600px;
	max-width: 90%;
}

.section-title {
	h3 {
		margin-top: 40px;
		font-size: 1.8rem;
	}
}

.testimonial-two {
	margin-top: 60px;
}

.feature__icon {
	height: 50px;

	img {
		width: 70px;
	}
}

.features-one .feature {
	margin-bottom: 50px;
}

.section-sources {
	margin: 60px 0;
}

.message-total {
	position: relative;
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 100%;
	color: $color-gray;
	font-style: italic;
}

.mobile-container {
	position: relative;
}

.timeline {
	background: #eee;
	position: absolute;
	top: 76px;
	left: 363px;
	width: 233px;
	height: 415px;
}