/*========================= timeline =========================*/

.section-sources {
	.section-title {
		h3 {
			margin-top: 40px;
			font-size: 1.8rem;
		}
	}
}

.section-sources {
	margin: 60px 0;
}

.message-total {
	position: relative;
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 100%;
	color: $color-gray;
	font-style: italic;
}